body {
  background: radial-gradient(
    328px at 2.9% 15%,
    rgb(191, 224, 251) 0%,
    rgb(232, 233, 251) 25.8%,
    rgb(252, 239, 250) 50.8%,
    rgb(234, 251, 251) 77.6%,
    rgb(240, 251, 244) 100.7%
  );
  font-family: "Poppins", sans-serif;
}
h1,
h2,
h3,
h4,
h5 {
  text-align: center;
}
h1 {
  font-size: 25px;
  color: rgb(5, 6, 83);
  padding: 10px;
}
h2 {
  font-size: 25px;
}
h3 {
  font-size: 25px;
}
h4 {
  font-size: 15px;
  line-height: 30px;
}
h5 {
  padding: 20px;
  font-size: 22px;
}
.weather-app {
  border: 1px solid;
  padding: 20px;
  margin: 20px auto;
  max-width: 950px;
  border-radius: 10px;
}
.date-time {
  text-align: right;
  font-size: 20px;
  list-style: none;
}
.search-form {
  display: block;
  margin: 0 auto;
  text-align: center;
  font-size: 21px;
  font-family: "Poppins", sans-serif;
  padding: 10px;
}
.weathernow {
  text-align: center;
  font-size: 40px;
}
.description {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}
.card {
  margin: 0 auto;
  float: none;
  margin-bottom: 10px;
}
.weekday {
  text-align: center;
  font-size: 15px;
  background: transparent;
}
.card-title {
  text-align: center;
  font-size: 15px;
}
.card {
  border-radius: 15px;
  background: transparent;
  border-color: blueviolet;
  border-width: 2px;
}
.temperature {
  text-align: center;
  font-size: 44px;
  padding: 20px;
}
.location {
  background-color: rgb(92, 123, 207);
}

ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
  margin: 0;
  padding: 5px;
  font-size: 20px;
  font-weight: 100;
  line-height: 19px;
  text-align: center;
}
li:first-letter {
  text-transform: capitalize;
}
.icon {
  display: inline-block;
  height: 60px;
  width: 60px;
}

button {
  font-size: 30px;
  padding: 12px 26px;
  border-radius: 2px;
}
p {
  text-align: center;
}
.description {
  padding: 20px;
  margin-bottom: 15px;
}
